.full {
  background: url("../img/splash.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

}

.splash-text {
  font-size: 1.8rem;
  font-family: fantasy;
}

.line-1 {

  position: absolute;
  right: 32.5%;
  top: 20%;
}
.line-2 {
  position: absolute;
  right: 27%;
  top: 25%;
}
.line-3 {
  position: absolute;
  right: 33.5%;
  top: 30%;
}

#footer-splash {
  bottom: 0;
  position: absolute;
  background-color: #2F3A40;
  text-transform: uppercase;
  width: 100%;
}
