#content {
    background: url("../img/splash.JPG") no-repeat center center fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center top;
    height: 36.5rem;
}

.splash-text {
  padding-top: 7.5%;
  font-size: 1.8rem;
  font-family: fantasy;
}

.line-1 {
  padding-left: 58.5%;
}
.line-2 {
  padding-left: 52.5%;
}
.line-3 {
  padding-left: 59%;
}
